Django==1.6.2
GnuPGInterface==0.3.2
command-not-found==0.1
python-apt==0.7.94.2ubuntu6.2
uWSGI==2.0.1
ufw==0.30pre1-0ubuntu2
virtualenv==1.4.5
wsgiref==0.1.2


South==0.8.1
#https://github.com/koirikivi/django-cms/archive/develop.tar.gz#egg=django-cms
# For some reason, some of the plugins are not found on pypi
https://github.com/divio/djangocms-file/archive/0.0.1.tar.gz#egg=djangocms-file
https://github.com/divio/djangocms-googlemap/archive/0.0.1.tar.gz#egg=djangocms-googlemap
https://github.com/divio/djangocms-link/archive/1.1.3.tar.gz#egg=djangocms-link
https://github.com/divio/djangocms-picture/archive/0.0.1.tar.gz#egg=djangocms-picture
https://github.com/divio/djangocms-teaser/archive/0.0.1.tar.gz#egg=djangocms-teaser
https://github.com/divio/djangocms-video/archive/0.0.1.tar.gz#egg=djangocms-video

argparse
django-classy-tags==0.4
django-mptt==0.6.0
django-sekizai==0.7
djangocms-admin-style==0.2.0
html5lib==0.999
six==1.5.2
Pillow==2.0.0
django-filer==0.9.4
cmsplugin-filer==0.9.5
djangocms-text-ckeditor==2.1.1
